.search-wrapper {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  position: relative;
}

/* general button styles inside the .search-wrapper */
.search-wrapper button {
  padding: 0;
  border: none;
  outline: none;
}

.search-button {
  position: absolute;
  left: 10px;
  transform: translateY(-50%);
  top: 50%;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  z-index: 20;
}

.search-button:focus-visible {
  outline: 3px solid orange;
}

.search {
  font-family: "Montserrat", sans-serif;
  padding: 0.8em 0em 0.8em 3em;
  width: 100%;
  border: none;
  border-radius: 20vw;
  font-size: 1em;
  font-weight: 500;
  position: relative;
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.5);
}

.search:focus-visible {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.search::placeholder {
  opacity: 0.8;
}

.search-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
  z-index: 10;
  opacity: 0.7;
  transition: opacity 200ms ease, background 200ms ease;
}

.search-wrapper button:hover .search-icon {
  opacity: 1;
}

.search-wrapper button:active .search-icon {
  transform: scale(1.07) !important;
}

.search-wrapper-error {
  margin-inline: 1rem;
}

/* WEATHER DETAILS CARD input styles */
.weather-details-search-wrapper {
  width: 300px;
}

/* LIGHT THEME */
[data-theme] .search {
  background: #000;
  color: orange;
}

[data-theme] .search:focus {
  outline: 3px solid rgba(0, 0, 0, 0.5);
}

[data-theme] .search::placeholder {
  color: white;
  opacity: 0.4;
}

[data-theme="light"] .weather-details-search-wrapper .search {
  border: none;
  background: #fff;
  color: #000;
}

[data-theme="light"] .search-icon {
  background: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

[data-theme="light"] .search-icon:hover {
  background: orange;
}

/* MEDIA QUERIES  */
@media (max-width: 850px) {
  .search-wrapper {
    max-width: 400px;
  }

  .search {
    padding-left: 3.5em;
    font-size: 0.8rem;
  }

  .search-icon {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 700px) {
  .weather-details-search-wrapper {
    margin-top: 2em;
  }
}

@media (max-width: 650px) {
  .search {
    padding-left: 4em;
    font-size: 0.7rem;
  }

  .search-icon {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 500px) {
  .search-wrapper-error,
  .search-wrapper {
    width: fit-content;
    width: fit-content;
  }

  .search-wrapper-error {
    margin-inline: 0;
  }
}

@media (max-width: 500px) {
}
