/* loading indicator */
.loading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 10px;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #00ff00;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.loading-text {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5em;
}

.weather-details-loading-text {
  color: #000;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
