/* LIGHT THEME */
:root {
  --bg-card-weather-details-light-mode: rgb(248, 240, 227);
  --bg-weather-details-light-mode: #000;
  --clr-weather-details-main-light-mode: skyblue;
  --clr-weather-details-additional-info-light-mode: #000;
}
/* ------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #121212;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

/* USER FEEDBACK STYLES */
.no-data-fetch {
  padding: 1em;
  width: 400px;
  margin-inline: auto;
  text-align: center;
  color: red;
  color: #e74c3c;
}

.no-data-placeholder {
  text-align: center;
  margin-inline: auto;
  color: #f39c12;
}

/* screen reader class - hide element */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* Add to favorites button */
.add-to-favorites-btn {
  margin-top: 1em;
  margin-bottom: 2em;
}

/* LIGHT THEME STYLES */
body[data-theme="light"] {
  background-color: #fff;
}

[data-theme="light"] .no-data-placeholder {
  color: #333;
}

@media (max-width: 850px) {
  .no-data-placeholder,
  .no-data-fetch {
    font-size: 0.8rem;
  }
}

@media (max-width: 650px) {
  .no-data-placeholder,
  .no-data-fetch {
    font-size: 0.7rem;
    max-width: 250px;
  }
}
