.details-arrow-btn {
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;

  transition: transform 200ms ease, opacity 700ms ease, visibility 0ms ease;
  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  z-index: 200;
}

.arrow-right {
  right: -5em;
}

.arrow-right:active {
  transform: translate(3px, -50%);
}

.arrow-left {
  left: -5em;
}

.arrow-left:active {
  transform: translate(-3px, -50%);
}

.details-arrow {
  border-radius: 50%;
  color: white;
  stroke-width: 1.9;
  transition: transform 200ms ease;
}

.details-arrow-btn:hover .details-arrow {
  box-shadow: 1px 1px 5px 2px rgba(255, 255, 255, 0.7);
  transform: scale(1.1);
  cursor: pointer;
}

.details-arrow-btn:focus-visible {
  outline: 4px solid orange;
}

.details-arrow-btn.fade-in {
  opacity: 1;
  visibility: visible;
}

/* LIGHT THEME */
[data-theme="light"] .details-arrow-btn {
  background: green;
}

/* MEDIA QUERIES */
@media (max-width: 970px) {
  .details-arrow-btn {
    top: 105%;
    transform: translateY(-50%);
  }

  .arrow-right {
    top: 50%;
  }

  .arrow-left {
    left: 3em;
    top: 105%;
  }
}

@media (max-width: 710px) {
  .arrow-left {
    right: 4em;
    top: 103%;
  }
}

@media (max-width: 650px) {
  .details-arrow-btn {
    top: 102%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
  }

  .arrow-right {
    right: 4em;
    top: 108%;
  }
}

@media (max-width: 400px) {
  .arrow-left {
    top: 101.5%;
  }
}
