.geolocation-theme-switcher-button-group {
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 600px;
  margin: auto;

  position: relative; /* for positioning global theme switcher button*/
}

.geolocation-btn {
  border: none;
  outline: none;
  padding: 1em;
  background: orange;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  transition: box-shadow 250ms ease, background 250ms ease, color 250ms;
}

.geolocation-btn:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
  background: #000;
  color: orange;
}

.geolocation-btn:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
  background: #000;
  color: orange;
}

.theme-switcher-btn-global {
  left: 9em;
}

/* LIGHT THEME */
[data-theme="light"] .geolocation-btn {
  background: #000;
  color: orange;
}

[data-theme="light"] .geolocation-btn:hover {
  color: #fff;
}

[data-theme="light"] .geolocation-btn:focus {
  transform: scale(1.02);
  color: white;
  outline: 1px solid orange;
}

/* MEDIA QUERIES */
@media (max-width: 850px) {
  .geolocation-btn {
    padding: 0.9em;
    font-size: 0.7rem;
  }
}

@media (max-width: 650px) {
  .geolocation-theme-switcher-button-group {
    max-width: 300px;
  }

  .theme-switcher-btn-global {
    left: 2em;
  }
}
